<p>
  <strong>Name:</strong>
  <%= @dress.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @dress.code %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @dress.remarks %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @dress.colors %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dress.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @dress.stock %>
</p>

<p>
  <strong>Ms length:</strong>
  <%= @dress.ms_length %>
</p>

<p>
  <strong>Ms bust:</strong>
  <%= @dress.ms_bust %>
</p>

<p>
  <strong>Ms waist:</strong>
  <%= @dress.ms_waist %>
</p>

<p>
  <strong>Ms hip:</strong>
  <%= @dress.ms_hip %>
</p>

