<br><br><br>

<div class="container">
  <h1>Dresses Manager</h1> <%= link_to 'Add a New Dress', new_dress_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %> <p id="notice"><%= notice %></p>

  <table class="table table-striped thead-dark table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Remarks</th>
        <th>Colors</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Length</th>
        <th>Bust</th>
        <th>Waist</th>
        <th>Hip</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @dresses.each do |dress| %>
        <tr>
          <td><%= dress.name %></td>
          <td><%= dress.code %></td>
          <td><%= dress.remarks %></td>
          <td><%= dress.colors %></td>
          <td><%= dress.price %></td>
          <td><%= dress.stock %></td>
          <td><%= dress.ms_length %></td>
          <td><%= dress.ms_bust %></td>
          <td><%= dress.ms_waist %></td>
          <td><%= dress.ms_hip %></td>
          <td><%= link_to 'Show', dress, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></td>
          <td><%= link_to 'Edit', edit_dress_path(dress), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></td>
          <td><%= link_to 'Delete', dress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  
  <%= render template: "static/modal" %>

</div>
